<footer class="footer">
  <div class="container">
    <span class="footer__text">Ibrahim Saad</span>
    <div class="footer__links">
      <a href="https://github.com/ibrahim5aad" target="_blank" rel="noopener">GitHub</a>
      <a href="mailto:ibrahimsaad419@gmail.com">Email</a>
    </div>
  </div>
</footer>
